# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
appdirs==1.4.4
asgiref==3.3.4
beautifulsoup4==4.9.3
brotlipy==0.7.0
bs4==0.0.1
ca-certificates==2021.5.25
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chromedriver-binary==91.0.4472.19.0
cryptography==3.4.7
cssselect==1.1.0
django==3.0.2
django-bootstrap4==1.1.1
fake-useragent==0.1.11
ffmpeg==4.2.2
idna==2.10
lxml==4.6.3
openssl==1.1.1k
parse==1.19.0
pip==21.1.1
pycparser==2.20
pyee==8.1.0
pyopenssl==20.0.1
pyppeteer==0.2.5
pyquery==1.4.3
pysocks==1.7.1
python==3.8.10
pytz==2021.1
requests==2.25.1
requests-html==0.10.0
selenium==3.141.0
setuptools==52.0.0
six==1.16.0
soupsieve==2.2.1
sqlite==3.35.4
sqlparse==0.4.1
tqdm==4.61.0
urllib3==1.26.5
vc==14.2
vs2015_runtime==14.27.29016
w3lib==1.22.0
websockets==8.1
wheel==0.36.2
win_inet_pton==1.1.0
wincertstore==0.2
